.right-side{
    width: 69%;
    display: flex;
  }
.main{
    background-color: lightyellow;
    width: 1110px;
}
.footer{
  width: 100%;
  height: 1500px;
}
.footer-content{
  padding-left: 35px;
  padding-top: -5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.first-link{
  margin-top: 80px;
  display: flex;
  width: 341px;
  height: 40px;
  background-color: rgb(250, 248, 248);
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-left: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.link{
  background-color: rgb(250, 248, 248);
  display: flex;
  flex-direction: column;
  width: 331px;
  height: 85px;
  transition: background-color 0.3s;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
.link:hover, .last-link:hover{ 
  background-color: rgb(234, 235, 232);
}
.link p{
  margin-bottom: -12px;
  padding-left: 10px;
}
.link-first-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s;
}
.link-first-part-writing{
  margin-bottom: -10px;
}
.link-first-part-img:hover{
  border-radius: 500px;
  background-color: rgb(234, 235, 232);
}
.link-first-part img{
  margin-top: 3px;
  height: 20px;
  padding: 5px;
}
.link-second-part{
  display: flex;
}
.link-third-part{
  margin-top: 8px;
  display: flex;
}
.last-link{
  display: flex;
  width: 341px;
  height: 40px;
  background-color: rgb(250, 248, 248);
  display: flex;
  font-size: 10px;
  align-items: center;
  padding-left: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #FFD400;
  cursor: pointer;
  margin-bottom: 20px;
}
.who-to-follow{
  display: flex;
  width: 341px;
  height: 40px;
  background-color: rgb(250, 248, 248);
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-left: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.who-to-follow-link{
  background-color: rgb(250, 248, 248);
  width: 351px;
  height: 72px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}
.who-to-follow-link:hover{
  background-color: rgb(234, 235, 232);
  cursor: pointer;
}
.follow-picture{
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-picture img{
  width: 44px;
}
.follow-info{
  width: 190px;
}
.follow-button-style{
  width: 76.36px;
  height: 32px;
  background-color: #0F1419;
  color: white;
  border-radius: 500px;
  border-style: none;
  font-size: 15px;
  cursor: pointer;
}
.terms-of-service{
  color: rgb(158, 152, 152);
  font-size: 15px;
}
.terms-of-service p{
  margin-bottom: -10px;
}
.terms-of-service a{
  color: rgb(158, 152, 152);
  text-decoration: none;
}
.messages{
  background-color: white;
  border-style: solid;
  border-radius: 1px;
  display: flex;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 350px;
  height: 53px;
  right: 28px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.messages img{
  width: 25px;
  padding-left: 3px;
}